<div id="secondary">
  <h2>Mailing list</h2>
  <p>Want to know about upcoming events? Sign up to our mailing list.</p>
  <p><small><em>Legal bit</em>: we&rsquo;ll only use your email address to send
  out updates related to Cambridge Geek Nights; we won&rsquo;t give out your
  email address to anyone; you can unsubscribe at any time using the link in any
  of our emails.</small></p>

  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
  <form action="http://cambridgegeeknights.us2.list-manage.com/subscribe/post?u=08f9232f9f5648e9f9e352782&amp;id=009b6c790f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div>
      <label for="mce-EMAIL">Email</label>
      <input type="email" placeholder="cgn@example.com" name="EMAIL" id="mce-EMAIL">
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_08f9232f9f5648e9f9e352782_009b6c790f" value=""></div>
      <button type="submit">Sign me up!</button>
    </div>
  </form>
  </div>

  <!--End mc_embed_signup-->
</div>
