<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} &ndash; {{ site.name }}</title>
    {% include meta-styles.html %}
    {% include analytics.html %}
  </head>
  <body class="event">
    <div id="title"><a href="/">{{ site.name }}</a></div>
    
    <div id="main">
      
      <div class="event-info">
        <h1>{{ page.title }}</h1>
        <p class="date">{{ page.date | date_to_long_string }}</p>
      </div>
      {% for sponsor in site.data.sponsors %}
      {% if sponsor[0] == page.sponsor %}
      <div class="sponsor">
        Sponsored by
        <a href="{{ sponsor[1].url }}">
          <img src="{{ sponsor[1].image_url }}" alt="{{ sponsor[1].name }}">
        </a>
      </div>
      {% endif %}
      {% endfor %}
      
      {% if page.lanyrd %}
      <p><a class="lanyrd" href="{{ page.lanyrd }}">
        {{ page.title }} on Lanyrd</a>
      </p>
      {% endif %}
      
      {{ content }}
      {% if page.previous or page.next %}
      <ul class="related">
      {% if page.previous %}
          <li class="previous"><a rel="prev" href="{{ page.previous.url }}">
              Previous event: {{ page.previous.title }}
          </a></li>
      {% endif %}
      {% if page.next %}
          <li class="next"><a rel="next" href="{{ page.next.url }}">
              Next event: {{ page.next.title }}
          </a></li>
      {% endif %}
      </ul>
      {% endif %}
    </div>
    {% include eventlist.html %}
    
    {% include footer.html %}
  </body>
</html>
