<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} &ndash; {{ site.name }}</title>
    {% include meta-styles.html %}
    {% include analytics.html %}
  </head>
  <body class="event">
    <div id="title"><a href="/">{{ site.name }}</a></div>
    
    <div id="main">
      
      <div class="event-info">
        <h1>{{ page.title }}</h1>
        <p class="date">{{ page.date | date_to_long_string }}</p>
      </div>
      
      {% if page.lanyrd %}
      <p><a class="lanyrd" href="{{ event.lanyrd }}">
        {{ page.title }} on Lanyrd</a>
      </p>
      {% endif %}
  
    {{ content }}
    
    {% include sidebar.html %}
    
    {% include footer.html %}
  </body>
</html>
