<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }} &ndash; Cambridge Geek Nights</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=400, initial-scale=0.6" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-350373-2']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body class="event">
    <div id="title"><a href="/">Cambridge Geek Nights</a></div>
    
    <div id="main">
      
      <div class="event-info">
        <h1>{{ page.title }}</h1>
        <p class="date">{{ page.date | date_to_long_string }}</p>
      </div>
      
      {% if page.lanyrd %}
      <p><a class="lanyrd" href="{{ event.lanyrd }}">
        {{ page.title }} on Lanyrd</a>
      </p>
      {% endif %}
  
    {{ content }}
    
    {% include sidebar.html %}
    
    <p id="footer">Questions? Comments? Pop us an email at
      <a href="mailto:mail@cambridgegeeknights.net">mail@cambridgegeeknights.net</a>.
    </p>
  </body>
</html>
