<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}Cambridge Geek Nights</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=400, initial-scale=0.6" />
    <link rel="stylesheet" href="/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-350373-2']);
      _gaq.push(['_trackPageview']);
      
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <h1 id="title">Cambridge Geek Nights</h1>
    
    {{ content }}
    
    {% include sidebar.html %}

    {% include footer.html %}
  </body>
</html>
